@import '../../../../duelist-theme.scss';

table {
  width: 100%;
}

.filter-and-or-toggle {
  color: white;
}

.card-lookup-link-btn {
  color: white;
}

.filter-box {
  background-color: #555555;
  margin: 10pt;
}

.char-select-box {
  padding-right: 10pt
}

.mat-form-field {
  margin-left: 5px;
  margin-top: 5px;
}

