<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="host">
    <th mat-header-cell *matHeaderCellDef> Host </th>
    <td mat-cell *matCellDef="let element"> {{element.host}} </td>
  </ng-container>

  <ng-container matColumnDef="deck">
    <th mat-header-cell *matHeaderCellDef> Starting Deck </th>
    <td mat-cell *matCellDef="let element"> {{element.deck}} </td>
  </ng-container>

  <ng-container matColumnDef="ascension">
    <th mat-header-cell *matHeaderCellDef> Ascension Level </th>
    <td mat-cell *matCellDef="let element"> {{element.ascension}} </td>
  </ng-container>

  <ng-container matColumnDef="challenge">
    <th mat-header-cell *matHeaderCellDef> Challenge </th>
    <td mat-cell *matCellDef="let element"> {{element.challenge}} </td>
  </ng-container>

  <ng-container matColumnDef="victory">
    <th mat-header-cell *matHeaderCellDef> Victory </th>
    <td mat-cell *matCellDef="let element"> {{element.victory}} </td>
  </ng-container>

  <ng-container matColumnDef="killedBy">
    <th mat-header-cell *matHeaderCellDef> Killed By </th>
    <td mat-cell *matCellDef="let element"> {{element.killedBy}} </td>
  </ng-container>

  <ng-container matColumnDef="floor">
    <th mat-header-cell *matHeaderCellDef> Floor </th>
    <td mat-cell *matCellDef="let element"> {{element.floor}} </td>
  </ng-container>

  <ng-container matColumnDef="kaiba">
    <th mat-header-cell *matHeaderCellDef> Kaiba </th>
    <td mat-cell *matCellDef="let element"> {{element.kaiba}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true"></mat-paginator>
<br>
<div style="text-align: center;">
  <span>
    <span style="margin:25px;"><a href="https://github.com/adambennett/StS-DuelistMod">DuelistMod Source</a></span>
    <span style="margin:25px;"><a href="https://github.com/adambennett/StS-Metrics-Server">Server Source</a></span>
    <span style="margin:25px;"><a href="https://discord.gg/Tcwws6U">Discord</a></span>
    <span style="margin:25px;"><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1673346215">Steam Workshop</a></span>
  </span>
</div>
