<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Yu-Gi-Oh!">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Card Name </th>
      <td mat-cell *matCellDef="let element">
        <a target="_blank" (click)="getLookupCard(element.card_id)" [routerLink]="['/cardLookup', element.card_id]" class="btn btn-raised btn-link color-btn text-white">{{element.card_id}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="act1_score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Act 1 </th>
      <td mat-cell *matCellDef="let element"> {{element.act1_score}} </td>
    </ng-container>

    <ng-container matColumnDef="act2_score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Act 2 </th>
      <td mat-cell *matCellDef="let element"> {{element.act2_score}} </td>
    </ng-container>

    <ng-container matColumnDef="act3_score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Act 3 </th>
      <td mat-cell *matCellDef="let element"> {{element.act3_score}} </td>
    </ng-container>

    <ng-container matColumnDef="overall_score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Overall Score </th>
      <td mat-cell *matCellDef="let element"> {{element.overall_score}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 500]" [showFirstLastButtons]="true"></mat-paginator>
</div>
