.span {
  margin: auto;
}

.home-btn {
  width: 1000px;
  text-align:center;
  background-color: #555555; /* Green */
  border: 2px solid white;
  color: white;
  margin: 50px;
}

.decks-btn {
  width: 1000px;
  text-align:center;
  background-color: #555555; /* Green */
  border: 2px solid white;
  color: white;
  margin: 50px;
}
