<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="span">Duelist Metrics Server</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-menu-item [matMenuTriggerFor]="runmenu" class="home-btn">Runs</button>
    <mat-menu #runmenu="matMenu">
      <button mat-menu-item [routerLink]="['/runs', 'All']">All</button>
      <button mat-menu-item [routerLink]="['/runs', 'Duelist']">The Duelist</button>
      <button mat-menu-item [matMenuTriggerFor]="charactersmenu">Characters</button>
      <mat-menu #charactersmenu="matMenu">
        <div *ngFor="let char of characters">
          <button mat-menu-item [routerLink]="char === 'THE_DUELIST' ? ['/runs', 'Duelist', 'Character'] : ['/runs', char, 'Character']">{{char}}</button>
        </div>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="countrymenu">Locale</button>
      <mat-menu #countrymenu="matMenu">
        <div *ngFor="let country of countries">
          <button mat-menu-item [routerLink]="['/runs', country, 'Country']">{{country}}</button>
        </div>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="timemenu">Timeframe</button>
      <mat-menu #timemenu="matMenu">
        <div *ngFor="let time of times">
          <button mat-menu-item [routerLink]="['/runs', time, 'Time']">{{time}}</button>
        </div>
      </mat-menu>
      <button mat-menu-item [routerLink]="['/runs', 'Non-Duelist']">Non-Duelist</button>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="deckmenu" class="decks-btn">Decks</button>
    <mat-menu #deckmenu="matMenu">
      <div *ngFor="let deck of decks">
        <button mat-menu-item [matMenuTriggerFor]="deckSubMenu">{{deck.name}}</button>
        <mat-menu #deckSubMenu="matMenu">
          <div *ngIf="deck.name === 'All'; else elseBlock">
            <button mat-menu-item [routerLink]="['/compare']">Compare</button>
          </div>
          <ng-template #elseBlock>
<!--            <button mat-menu-item [routerLink]="['/info', deck.id]">Info</button>-->
          </ng-template>
          <button mat-menu-item [routerLink]="['/cards', deck.id]">Cards</button>
          <button mat-menu-item [routerLink]="['/relics', deck.id]">Relics</button>
          <button mat-menu-item [routerLink]="['/potions', deck.id]">Potions</button>
          <button mat-menu-item [routerLink]="['/neow', deck.id]">Neow</button>
        </mat-menu>
      </div>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>


