<div class="top-container test-bg">

  <!-- Site Title Bar -->
  <mat-toolbar color="primary" class="site-title">
    <mat-toolbar-row>
      <!-- Open Sidebar -->
      <div class="example-sidenav-content">
        <div id="sidebar-opener2">
          <button id="hamburger" type="button" mat-button (click)="toggleSidebar(drawer)" >
            <img src="assets/icons/hamburger.svg" alt="sidebar toggle arrow icon (open)">
          </button>
        </div>
      </div>

      <!-- Title Bar -->
      <span class="span">
        <a [routerLink]="['/']" class="hidden-link" >Duelist Metrics Server</a>
      </span>

    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Content -->
  <mat-drawer-container class="all-page-content  test-bg" autosize>

    <!-- Sidebar -->
    <mat-drawer #drawer class="sidebar" mode="side" [opened]="isSidebarOpen()">

      <!--  Navigation  -->
      <mat-label class="sidebar-nav-label">Navigation</mat-label>
      <mat-divider></mat-divider>
      <button class="sidebar-option" mat-menu-item [matMenuTriggerFor]="runmenu">Runs</button>
      <mat-menu #runmenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="charactersmenu">Characters</button>
        <mat-menu #charactersmenu="matMenu">
          <div *ngFor="let char of characters">
            <button mat-menu-item [routerLink]="char === 'THE_DUELIST' ? ['/runs', 'Duelist', 'Character'] : ['/runs', 'Character', char]">{{char}}</button>
          </div>
        </mat-menu>
        <button mat-menu-item [matMenuTriggerFor]="countrymenu">Locale</button>
        <mat-menu #countrymenu="matMenu">
          <div *ngFor="let country of countries">
            <button mat-menu-item [routerLink]="['/runs', 'Country', country.id]">{{country.name}}</button>
          </div>
        </mat-menu>
        <button mat-menu-item [matMenuTriggerFor]="timemenu">Timeframe</button>
        <mat-menu #timemenu="matMenu">
          <div *ngFor="let time of times">
            <button mat-menu-item [routerLink]="['/runs', 'Time', time]">{{time}}</button>
          </div>
        </mat-menu>
        <button mat-menu-item [routerLink]="['/runs', 'Duelist']">The Duelist</button>
        <button mat-menu-item [routerLink]="['/runs', 'Non-Duelist']">Non-Duelist</button>
        <!--<button mat-menu-item [routerLink]="['/search-runs']">Search</button>-->
        <button mat-menu-item [routerLink]="['/runs', 'All']">All</button>
      </mat-menu>

      <!--  Decks  -->
      <button class="sidebar-option" mat-menu-item [matMenuTriggerFor]="deckmenu">Decks</button>
      <mat-menu #deckmenu="matMenu">
        <div *ngFor="let deck of decks">
          <button mat-menu-item [matMenuTriggerFor]="deckSubMenu">{{deck.name}}</button>
          <mat-menu #deckSubMenu="matMenu">
            <div *ngIf="deck.name === 'All'; else elseBlock">
              <button mat-menu-item [routerLink]="['/compare']">Compare</button>
            </div>
            <ng-template #elseBlock>
              <!--<button mat-menu-item [routerLink]="['/info', deck.id]">Info</button>-->
            </ng-template>
            <button mat-menu-item [routerLink]="['/cards', deck.id]">Cards</button>
            <button mat-menu-item [routerLink]="['/relics', deck.id]">Relics</button>
            <button mat-menu-item [routerLink]="['/potions', deck.id]">Potions</button>
            <button mat-menu-item [routerLink]="['/neow', deck.id]">Neow</button>
          </mat-menu>
        </div>
      </mat-menu>

      <!--  Info  -->
      <button class="sidebar-option" mat-menu-item [matMenuTriggerFor]="infomenu">Stats</button>
      <mat-menu #infomenu="matMenu">
        <button mat-menu-item [routerLink]="['/compare']">Deck Stats</button>
        <button mat-menu-item [routerLink]="['/deckPopularity']">Deck Popularity</button>
        <button mat-menu-item [routerLink]="['/info/run-count-country']">Runs by Country</button>
      </mat-menu>

      <!--  Mods  -->
      <button class="sidebar-option" mat-menu-item [routerLink]="['/modList']">Mods</button>

      <!--  Links  -->
      <mat-divider></mat-divider>
      <mat-label class="sidebar-links-label">Links</mat-label>
      <mat-divider></mat-divider>
      <button class="sidebar-option" mat-menu-item [matMenuTriggerFor]="extraFooterInfoMenu">Extras</button>
      <mat-menu #extraFooterInfoMenu="matMenu">
        <button mat-menu-item (click)="goToUrl('https://discord.gg/Tcwws6U', true)">Discord</button>
        <button mat-menu-item (click)="goToUrl('https://steamcommunity.com/sharedfiles/filedetails/?id=1673346215', true)">Steam Workshop</button>
      </mat-menu>
      <button class="sidebar-option" mat-menu-item [matMenuTriggerFor]="donationMenu">Donate</button>
      <mat-menu #donationMenu="matMenu">
        <button mat-menu-item (click)="goToDonate()">Paypal</button>
      </mat-menu>
      <button class="sidebar-option" mat-menu-item [matMenuTriggerFor]="sourceMenu">Source</button>
      <mat-menu #sourceMenu="matMenu">
        <button mat-menu-item (click)="goToUrl('https://github.com/adambennett/StS-DuelistMod', true)">DuelistMod</button>
        <button mat-menu-item (click)="goToUrl('https://github.com/adambennett/StS-Metrics-Server', true)">Metrics API</button>
        <button mat-menu-item (click)="goToUrl('https://github.com/adambennett/StS-Metrics-Site', true)">Metrics Site</button>
      </mat-menu>

      <!--  Options  -->
      <mat-divider></mat-divider>
      <mat-label class="sidebar-options-label">Options</mat-label>
      <mat-divider></mat-divider>
      <div *ngIf="route.url.includes('runs')">
        <button class="sidebar-option" mat-menu-item (click)="toggleFilterBox('hide')" id="hide-filters">Hide Filters</button>
        <button class="sidebar-option" mat-menu-item (click)="toggleFilterBox('show')" style="display: none" id="show-filters">Show Filters</button>
      </div>
      <div *ngIf="route.url.includes('deckPopularity')">
        <button class="sidebar-option" mat-menu-item [matMenuTriggerFor]="years">Year</button>
        <mat-menu #years="matMenu">
          <div *ngFor="let year of graphYears">
            <button mat-menu-item [routerLink]="['/deckPopularity', year]">{{year}}</button>
          </div>
        </mat-menu>
      </div>

      <!--  Arrows to Collapse Sidenav Bar -->
<!--      <div style="margin-left: 10px">
        <img src="https://visitor-badge.glitch.me/badge?page_id=sts-metrics-site" alt="visitor badge"/>
      </div>-->
<!--      <button mat-menu-item (click)="toggleSidebar(drawer)">
        <img src="assets/icons/arrows.svg" class="flipSvg" alt="sidebar toggle arrow icon (close)">
      </button>-->
    </mat-drawer>

    <!-- Dynamic Page Content -->
    <main class="dynamic-page-content">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-container>
</div>
