<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="span">Duelist Metrics Server</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-menu-item [routerLink]="['/run-list']" class="home-btn">Run Log</button>
    <button mat-menu-item [matMenuTriggerFor]="deckmenu" class="decks-btn">Decks</button>
    <mat-menu #deckmenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="allMenu">All</button>
      <mat-menu #allMenu="matMenu">
        <button mat-menu-item [routerLink]="['/all-compare']">Compare</button>
        <button mat-menu-item [routerLink]="['/all-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/all-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/all-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/all-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="standardMenu">Standard</button>
      <mat-menu #standardMenu="matMenu">
        <button mat-menu-item [routerLink]="['/standard-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/standard-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/standard-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/standard-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/standard-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="dragonMenu">Dragon</button>
      <mat-menu #dragonMenu="matMenu">
        <button mat-menu-item [routerLink]="['/dragon-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/dragon-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/dragon-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/dragon-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/dragon-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="naturiaMenu">Naturia</button>
      <mat-menu #naturiaMenu="matMenu">
        <button mat-menu-item [routerLink]="['/naturia-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/naturia-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/naturia-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/naturia-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/naturia-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="spellcasterMenu">Spellcaster</button>
      <mat-menu #spellcasterMenu="matMenu">
        <button mat-menu-item [routerLink]="['/spellcaster-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/spellcaster-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/spellcaster-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/spellcaster-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/spellcaster-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="toonMenu">Toon</button>
      <mat-menu #toonMenu="matMenu">
        <button mat-menu-item [routerLink]="['/toon-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/toon-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/toon-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/toon-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/toon-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="zombieMenu">Zombie</button>
      <mat-menu #zombieMenu="matMenu">
        <button mat-menu-item [routerLink]="['/zombie-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/zombie-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/zombie-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/zombie-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/zombie-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="aquaMenu">Aqua</button>
      <mat-menu #aquaMenu="matMenu">
        <button mat-menu-item [routerLink]="['/aqua-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/aqua-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/aqua-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/aqua-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/aqua-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="fiendMenu">Fiend</button>
      <mat-menu #fiendMenu="matMenu">
        <button mat-menu-item [routerLink]="['/fiend-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/fiend-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/fiend-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/fiend-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/fiend-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="machineMenu">Machine</button>
      <mat-menu #machineMenu="matMenu">
        <button mat-menu-item [routerLink]="['/machine-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/machine-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/machine-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/machine-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/machine-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="warriorMenu">Warrior</button>
      <mat-menu #warriorMenu="matMenu">
        <button mat-menu-item [routerLink]="['/warrior-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/warrior-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/warrior-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/warrior-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/warrior-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="insectMenu">Insect</button>
      <mat-menu #insectMenu="matMenu">
        <button mat-menu-item [routerLink]="['/insect-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/insect-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/insect-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/insect-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/insect-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="plantMenu">Plant</button>
      <mat-menu #plantMenu="matMenu">
        <button mat-menu-item [routerLink]="['/plant-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/plant-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/plant-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/plant-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/plant-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="megatypeMenu">Megatype</button>
      <mat-menu #megatypeMenu="matMenu">
        <button mat-menu-item [routerLink]="['/megatype-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/megatype-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/megatype-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/megatype-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/megatype-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="incrementMenu">Increment</button>
      <mat-menu #incrementMenu="matMenu">
        <button mat-menu-item [routerLink]="['/increment-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/increment-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/increment-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/increment-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/increment-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="creatorMenu">Creator</button>
      <mat-menu #creatorMenu="matMenu">
        <button mat-menu-item [routerLink]="['/creator-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/creator-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/creator-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/creator-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/creator-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="ojamaMenu">Ojama</button>
      <mat-menu #ojamaMenu="matMenu">
        <button mat-menu-item [routerLink]="['/ojama-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/ojama-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/ojama-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/ojama-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/ojama-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="exodiaMenu">Exodia</button>
      <mat-menu #exodiaMenu="matMenu">
        <button mat-menu-item [routerLink]="['/exodia-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/exodia-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/exodia-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/exodia-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="ascendedOneMenu">Ascended I</button>
      <mat-menu #ascendedOneMenu="matMenu">
        <button mat-menu-item [routerLink]="['/ascendedOne-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/ascendedOne-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/ascendedOne-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/ascendedOne-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/ascendedOne-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="ascendedTwoMenu">Ascended II</button>
      <mat-menu #ascendedTwoMenu="matMenu">
        <button mat-menu-item [routerLink]="['/ascendedTwo-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/ascendedTwo-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/ascendedTwo-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/ascendedTwo-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/ascendedTwo-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="ascendedThreeMenu">Ascended III</button>
      <mat-menu #ascendedThreeMenu="matMenu">
        <button mat-menu-item [routerLink]="['/ascendedThree-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/ascendedThree-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/ascendedThree-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/ascendedThree-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/ascendedThree-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="pharaohOneMenu">Pharaoh I</button>
      <mat-menu #pharaohOneMenu="matMenu">
        <button mat-menu-item [routerLink]="['/pharaohOne-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/pharaohOne-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/pharaohOne-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/pharaohOne-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/pharaohOne-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="pharaohTwoMenu">Pharaoh II</button>
      <mat-menu #pharaohTwoMenu="matMenu">
        <button mat-menu-item [routerLink]="['/pharaohTwo-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/pharaohTwo-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/pharaohTwo-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/pharaohTwo-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/pharaohTwo-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="pharaohThreeMenu">Pharaoh III</button>
      <mat-menu #pharaohThreeMenu="matMenu">
        <button mat-menu-item [routerLink]="['/pharaohThree-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/pharaohThree-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/pharaohThree-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/pharaohThree-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/pharaohThree-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="pharaohFourMenu">Pharaoh IV</button>
      <mat-menu #pharaohFourMenu="matMenu">
        <button mat-menu-item [routerLink]="['/pharaohFour-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/pharaohFour-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/pharaohFour-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/pharaohFour-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/pharaohFour-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="pharaohFiveMenu">Pharaoh V</button>
      <mat-menu #pharaohFiveMenu="matMenu">
        <button mat-menu-item [routerLink]="['/pharaohFive-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/pharaohFive-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/pharaohFive-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/pharaohFive-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/pharaohFive-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="randomSmallMenu">Random (Small)</button>
      <mat-menu #randomSmallMenu="matMenu">
        <button mat-menu-item [routerLink]="['/randomSmall-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/randomSmall-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/randomSmall-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/randomSmall-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/randomSmall-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="randomBigMenu">Random (Big)</button>
      <mat-menu #randomBigMenu="matMenu">
        <button mat-menu-item [routerLink]="['/randomBig-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/randomBig-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/randomBig-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/randomBig-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/randomBig-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="upgradeMenu">Upgrade</button>
      <mat-menu #upgradeMenu="matMenu">
        <button mat-menu-item [routerLink]="['/upgradeDeck-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/upgradeDeck-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/upgradeDeck-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/upgradeDeck-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/upgradeDeck-neow']">Neow</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="metronomeMenu">Metronome</button>
      <mat-menu #metronomeMenu="matMenu">
        <button mat-menu-item [routerLink]="['/metronome-info']">Deck Info</button>
        <button mat-menu-item [routerLink]="['/metronome-cards']">Cards</button>
        <button mat-menu-item [routerLink]="['/metronome-relics']">Relics</button>
        <button mat-menu-item [routerLink]="['/metronome-potions']">Potions</button>
        <button mat-menu-item [routerLink]="['/metronome-neow']">Neow</button>
      </mat-menu>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>


