table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.top-run-text {
  margin-left: 20pt;
  margin-top: 10pt;
}

.vertical-line{
  width: 0;
  height: 100%;
  float: right;
  border: 1px inset;
  margin: 5px auto;
}

.table-dark {
  width: 100%;
}

.path-div {
  margin: 20pt;
}

.mod-div {
  margin: 20pt;
}

.deck-div {
  margin: 20pt;
}


.card-choice-div {
  margin: 20pt;
}

.relic-choice-div {
  margin: 20pt;
}

.footer {
  flex-shrink: 0;
}

.path-icons-div {
  position: relative;
  width: 85px;
  height: 250px;
}

.path-icon-img {
  width: 48px;
  height: 48px;
  margin: 5px auto;
}

.path-gold-label {
  width: 48px;
  height: 48px;
  margin: 5px auto;
  color: gold;
}

.path-floor-label {
  width: 48px;
  height: 48px;
  margin: 5px auto;
}

.path-hp-label {
  width: 48px;
  height: 48px;
  margin: 5px auto;
  color: red;
}

.path-icons-div-labels {
  position: relative;
  width: 85px;
  height: 175px;
}

.path-icon-img-label {
  width: 48px;
  height: 25px;
  margin: 5px auto;
}

.path-gold-label-label {
  width: 48px;
  height: 25px;
  margin: 5px auto;
  color: gold;
}

.path-floor-label-label {
  width: 48px;
  height: 25px;
  margin: 5px auto;
}

.path-hp-label-label {
  width: 48px;
  height: 25px;
  margin: 5px auto;
  color: red;
}
