@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

app-root {
  display: block;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  min-height:100%;
}

html{
  height: 100%;
  min-height:100%;
  position:relative;
}

.hidden-link {
  -webkit-text-fill-color: white;
  text-decoration: none !important;
}

.page-body {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  min-height:100%;
  position:relative;
}

// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles
  .primaryColorBG {
    background-color: mat-color($primary);
  }
  .accentColorBG {
    background-color: mat-color($accent);
  }
  .warnColorBG {
    background-color: mat-color($warn);
  }
  .color-btn {
    background-color: mat-color($primary);
    outline-color: mat-color($primary);
    border-color: mat-color($accent);
  }
  html {
    background: #303030;
  }
}


